.env
venv/
./STREAMING/ALARM/.env
./STREAMING/STREAMING/hw_stream_from_PGR_to_CH/.env
./S3/.env

# Python
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
ENV/

# Все папки jars
jars/

# Все папки logs  
logs/


 
grafana_data/


 # Jupyter
.ipynb_checkpoints/
